SECRET_KEY=5176bc2aef85c13c71a77859c6e3e5824a6ae210de030f5b50d0eef2d80314dc
MONGO_URI=mongodb+srv://ra8595_db_user:MshVk0TcAJJsywXr@cluster0.qjfxzk1.mongodb.net/?appName=Cluster0
OLLAMA_BASE_URL=http://localhost:11434
LLM_MODEL=deepseek-r1:14b
EMBEDDING_MODEL=nomic-embed-text